{{ include ('element/navbar.php.twig') }}

<div class="main-container post-view">
    <div id="post-view">
        {{ include ('modules/post.php.twig') }}
    </div>

    {{ include('modules/post-view-navigation.php.twig') }}
    <script src="{{ js_path }}/common/post-navigation{{ js_ext }}"></script>
    <script src="{{ js_path }}/common/post{{ js_ext }}"></script>

{{ include ('element/footer.php.twig') }}