<div class="col-md-12">
    <p>{{ '{{ lang.PROFILE.NO_POSTS_TITLE }}' }}</p>
    <p>{{ '{{ lang.PROFILE.NO_POSTS_TEXT }}' }}</p>
</div>
<div class="col-md-12 row-options-empty mt-4">
    <a href="/publish">{{ '{{ lang.PROFILE.NO_POSTS_PUBLISH }}' }}</a>
    <a href="/explore">{{ '{{ lang.PROFILE.NO_POSTS_EXPLORE }}' }}</a>
    <a href="/faq">{{ '{{ lang.PROFILE.NO_POSTS_FAQ }}' }}</a>
</div>